<h3>Style</h3>

<h4>Text with Style</h4>
<div class="row">
  <div class="col-sm-12">
    <svg class="svg-style" viewBox="0 0 500 50">
      <text y="20" fill="#90a4ae" style="font-size:20px; font-family: Avenir; text-transform: uppercase;">It's a <tspan fill="#f8d203" style="letter-spacing: 0.1em; font-weight: bold">trap</tspan>!</text>
    </svg>
  </div>
</div>

<h4>Patterns</h4>
<div class="row">
  <div class="col-sm-12">
    <svg class="svg-style" viewBox="0 0 500 100">
      <pattern id="pattern" width="56" height="100" patternUnits="userSpaceOnUse" patternTransform="translate(1 0 0)">
        <rect width='56' height='100' fill='#f8d203'/>
        <path d='M28 66L0 50L0 16L28 0L56 16L56 50L28 66L28 100' fill='none' stroke='#fff629' stroke-width='2'/>
        <path d='M28 0L28 34L0 50L0 84L28 100L56 84L56 50L28 34' fill='none' stroke='#ffe503' stroke-width='2'/>
        <animateTransform attributeName="patternTransform" type="translate" by="56" dur="1s" repeatCount="indefinite"/>
      </pattern>
      <rect width="400" height="100" fill="url(#pattern)"/>
    </svg>
  </div>
</div>
